@import '../style/variables.less';

.home-section {
  padding: 48px 0 32px;

  .home-intro {
    padding: 104px 0 179px;
    text-align: center;

    h3 {
      font-size: 38px;
      margin-bottom: 16px;
    }

    p {
      margin: 0;
      color: #888;
      font-size: 18px;
    }

    .btn {
      margin-top: 40px;
    }

  }

}
