.footer {
  color: #888;
  text-align: center;
  background-color: #f7f9fa;

  a {
    color: #888;
  }
  .spliter {
    margin: 0 10px;
    color: #ccc;
  }
  .container {
    padding: 15px 0;
    border-top: 1px solid #f1f1f1;
  }

}
