.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;

  .logo {
    float: left;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 40px;

    .logo-link {
      display: flex;
      align-items: center;

      .image {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        background: url(../assets/logo.png) no-repeat center;
        background-size: contain;
      }

    }

  }

  .header-nav {
    float: right;
    display: flex;
    align-items: center;
    z-index: 400;
    height: 100%;

    .user-nav {
      display: flex;
      align-items: center;

      .nav-link {
        height: 59px;
        line-height: 59px;
        padding: 0 15px;
        text-decoration: none;

        i {
          font-size: 18px;
        }

        &.active {
          background-color: #f1f1f1;
        }

      }

      .dropdown {
        padding: 0 10px;
        margin-left: 10px;
      }

      .user-info {
        outline: 0;

        .avatar {
          display: inline-block;
          width: 28px;
          height: 28px;
          color: #fff;
          font-weight: 500;
          line-height: 28px;
          border-radius: 50%;
          text-align: center;
          background-color: #fb7560;
          margin-right: 6px;
        }

      }

      .email {
        font-size: 16px;
      }

      .size {
        color: #888;
      }

    }

    .login {
      display: flex;
      align-items: center;
    }

  }

}
