@import './style/variables.less';
@import './style/common.less';
@import './style/icon.less';
@import './style/form.less';
@import './style/button.less';
@import './style/alert.less';

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;

  .logo {
    float: left;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 40px;

    .logo-link {
      display: flex;
      align-items: center;

      .image {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        background: url(./assets/logo.png) no-repeat center;
        background-size: contain;
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
  background: #f7f9fa;
}

.download-section {
  min-height: ~"calc(100vh - 60px - 54px)";
  padding: 76px 0;
  background-color: #f7f9fa;
}

.download-form {
  width: 430px;
  margin: 0 auto;

  .code-content {
    margin: 0 auto;
    padding-top: 36px;
    max-width: 320px;
  }
}

.file-container {
  width: 516px;
  margin: 0 auto;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 4px;

  .file-list {
    min-height: 40px;

    .file-item {
      position: relative;
      margin-top: 5px;
      border-radius: 3px;
      line-height: 1.8;

      &:hover {
        background-color: #eef1f6;
      }

      .file-link {
        color: #48576a;
        display: block;
        margin-right: 40px;
        padding-left: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color .3s;
        white-space: nowrap;

        i {
          color: #97a8be;
          margin-right: 7px;
          height: 100%;
        }

      }

      .file-action {
        position: absolute;
        right: 10px;
        top: 0;

        a {
          font-size: 22px;
          margin-left: 8px;
          line-height: 1;
        }
      }
    }
  }

  .download-btns {
    border-top: 1px solid #e8e8e8;
    padding-top: 10px;
    text-align: center;
  }
}
